$white: #fff;
$black: #000;
$darkblue: #061A40;
$lightblue: #8EBAE5;
$gold: #FFD43D;
$grey:#c5c5c5;

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.25rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.75rem 5%;
  background: $white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

  img {
    width: 8rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  ul {
    flex: 1;
    text-align: left;
    align-items: center;
    margin: 0 auto;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 auto;

      a,
      .btn {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: bold;
        color: $darkblue;

      }

      ul li {
        display: block;

        .dropdown-item {
          color: $darkblue;
          margin: 0 auto;
          padding: 0.25rem 2rem;
        }
      }

    }
  }

  .btn {
    margin-right: 1rem;
  }

  .navbar-toggler,
  #navbarToggleExternalContent {
    display: none;
  }

  @media screen and (max-width: 767px) {

    .navbar-toggler,
    #navbarToggleExternalContent {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 172 172'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg%3E%3Cg%3E%3Cpath d='M29.5625,32.94875h111.4775c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125h-111.4775c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M141.04,90.24625c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125h-111.4775c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M142.4375,139.05125h-111.4775c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125h111.4775c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M29.5625,61.5975h66.89188c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125h-66.89187c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125z' fill='%23666666'%3E%3C/path%3E%3Cpath d='M96.45438,110.8325h-66.89187c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125h66.89188c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125z' fill='%23666666'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat !important;
      background-position: center;
      height: 2.5rem;
      width: auto;
      transform: rotate(180deg);
      display: block;
    }

    a {
      margin: 0.25rem 0;
    }

    .btn,
    ul,
    p {
      display: none;
    }

  }
}

#navbarToggleExternalContent {
  p {
    text-align: left;
    font-size: 1.5rem;
  }

  .btn.dropdown-toggle,
  a {
    font-size: 1.25rem;
    color: $black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
  }

  button,
  a {
    margin: 0.5rem auto;
  }

  ul li {
    list-style: none;
    text-align: center;
  }
}

.btn {
  padding: 0.5rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.btn-primary {
  color: $white;
  background: $lightblue;
  border-radius: 2rem;
  border-color: #8EBAE5;

  &:hover,
  &:active,
  &:focus {
    background: $lightblue;
    border-color: $lightblue;
    text-decoration: underline;
  }
}

.btn-secondary {
  color: $lightblue;
  background: $white;
  border-radius: 2rem;
  border-color: $lightblue;

  &:hover,
  &:active,
  &:focus {
    background: $white;
    border-color: $white;
    color: $lightblue;
    border-color: $lightblue;
    text-decoration: underline;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/belltower.png');
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 70vh;
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 25rem;
    width: 100%;
    height: auto;
  }

  h3 {
    color: $white;
  }

  #hero-search {
    width: 70%;
    max-width: 50rem;
    max-height: 3rem;

    .input-group {
      width: 99%;
      align-items: center;
    }

    input {
      margin-right: 1%;
    }

    .searchInputs {
      flex: 2;
    }
  }
}

.dataResult {
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 5% 1rem 5%;
  position: relative;
  overflow-y: scroll;
  max-height: 15rem;

  p,
  a,
  span {
    color: $black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover {
      color: $darkblue;
      text-decoration: underline;
    }
  }

  .btn {
    display: block;
  }

  p {
    font-weight: normal;
  }
}

.intro-cntnr {
  max-width: 69rem;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  img {
    height: 9rem;
    width: auto;
  }
}

.categories {
  .intro-cntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 69rem;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    div {
      width: 17rem;
      height: 14rem;
      margin: 1rem 2rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      border: 1.5px solid $grey;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;

        img {
          width: auto;
          height: 4rem;
          object-fit: cover;
          margin-bottom: 1rem
        }

        strong {
          font: 700 1.5rem/2rem 'Roboto', sans-serif;
          color: $black;
        }
      }
    }
  }
}

footer {
  background-color: $darkblue;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;

  >* {
    margin: 1rem;
  }

  ul {
    li {
      display: inline-block;
      margin-left: 1rem;

      a {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

#create {
  background-image: url('./img/background.png');
  margin-top: 8px;
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 90vh;

  .intro {
    max-width: 55rem;
    margin: 0 auto;
  }

  .create-form {
    max-width: 55rem;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
  }

  label,
  strong {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .socials {
    display: flex;
    align-items: center;

    i {
      font-size: 1.5rem;
      width: 2.5rem;
      margin-right: 0.1rem;
    }
  }
}

#club {
  .clubTop {
    display: flex;
    .clubImg {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
  }

  .clubDescr {
    max-width: 45rem;
  }

  .socials {
    margin-top: 0.5rem;

    a i {
      margin-right: 1.5rem;
      color: $black;
      font-size: 1.5rem;
    }
  }

  .categoryList {
    display: flex;
    background-color: $white;
    border-radius: 1rem;
    max-width: 60rem;
    border: #cecece 1px solid;

    .votes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: #cecece 1px solid;
      margin-right: 2rem;

      i {
        font-size: 2rem;
      }

      .fa-thumbs-down {
        transform: rotateY(180deg);
        margin-top: 1.5rem;
      }
    }

    .reviewInfo {
      display: flex;
      flex-direction: column;

      .stars {
        color: $gold;
        font-size: 1.5rem;
      }

      .btn {
        margin: 0 auto 1rem 0;
        color: $black;
        font-weight: 500;
      }
    }
  }
}
.btn-light{
  border-radius: .25rem;
  padding: 10px;
  border: 1px solid #000000;
}
.checkBtn{
  display: block;
}
.checked {
  display: none !important;
}
#club,
#category {
  background-image: url('./img/background.png');
  margin-top: 8px;
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 90vh;
}

#category {

  .btn-group,
  .num {
    max-width: 55rem;
    margin: 0 auto;
  }

  .btn-group .btn-primary {
    max-width: 25rem;
    border-radius: 2rem;

  }

  .categoryList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $white;
    border-radius: 2rem;
    padding: 2rem 3rem;
    max-width: 55rem;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fof {
  height: 95vh;
  color: $grey;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
  }

}

.histogram {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.155);
  border-style: solid;
  border-radius: 10px;
  max-width: 30rem;
  height: 25rem;
}

#Ssize {
  font-size: 1.65rem;
  font-weight: bold;
  margin: 1rem 1.5rem 0rem 1.5rem;

  span {
    font-size: 2rem;
  }
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px $grey;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}