$white: #fff;
$black: #000;
$darkblue: #061A40;
$lightblue: #8EBAE5;

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.25rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.75rem 5%;
  background: $white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  img {
    width: 8rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  ul {
    flex: 1;
    text-align: left;
    align-items: center;
    margin: 0 auto;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 auto;
      padding-right: 1rem;

      a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: 500;
        color: $darkblue;
      }
    }
  }

  .btn {
    margin-right: 1rem;
  }
}

.btn {
  padding: 0.5rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.btn-primary {
  color: $white;
  background: $lightblue;
  border-radius: 2rem;
  border-color: #8EBAE5;

  &:hover,
  &:active,
  &:focus {
    background: $lightblue;
    border-color: $lightblue;
    text-decoration: underline;
  }
}

.btn-secondary {
  color: $lightblue;
  background: $white;
  border-radius: 2rem;
  border-color: $lightblue;

  &:hover,
  &:active,
  &:focus {
    background: $white;
    border-color: $white;
    color: $lightblue;
    border-color: $lightblue;
    text-decoration: underline;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/belltower.png');
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 25rem;
    height: auto;
  }

  h3 {
    color: $white;
  }

  #hero-search {
    width: 70%;
    max-width: 50rem;

    input {
      margin-right: 1%;
    }
  }
}

.intro-cntnr {
  max-width: 69rem;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  img {
    height: 9rem;
    width: auto;
  }
}

.categories {
  .intro-cntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 69rem;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    div {
      width: 17rem;
      height: 14rem;
      margin: 1rem 2rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      border: 1.5px solid #c5c5c5;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;

        img {
          width: auto;
          height: 4rem;
          object-fit: cover;
          margin-bottom: 1rem
        }

        strong {
          font: 700 1.5rem/2rem 'Roboto', sans-serif;
          color: $black;
        }
      }
    }
  }
}

footer {
  background-color: $darkblue;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;

  >* {
    margin: 1rem;
  }

  ul {
    li {
      display: inline-block;
      margin-left: 1rem;

      a {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

#create{
  background-image: url('./img/background.png');
  margin-top: 8px;
  background-repeat: repeat-y;
  background-size: cover;
  min-height:90vh;
  
  .intro{
    max-width: 55rem;
    margin: 0 auto;
  }
  .create-form{
    max-width: 55rem;
    margin: 0 auto;
  }
  h2{
    font-size: 2rem;
  }
  label, strong{
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .socials{
    display: flex;
    align-items: center;
    i{
      font-size: 1.5rem;
      width: 2.5rem;
      margin-right: 0.1rem;

    }
  }
}